<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:versionCode="60"
    android:versionName="15.1.1">

    <!-- For notifications -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- For exact event about to start notifications -->
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <!-- To reschedule alarms when device reboots -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <!-- Required for google maps, updates and refreshing the programme -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Required for google GCM, for push notifications -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.screen.portrait"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.screen.landscape"
        android:required="false" />

    <queries>
        <intent>
            <action android:name="android.intent.action.SEND" />
            <data android:mimeType="text/plain" />
        </intent>
    </queries>

    <!-- Note - if enabling backup, make sure to exclude the GCM registration ID from it -->
    <application
        android:name="amai.org.conventions.ConventionsApplication"
        android:allowBackup="false"
        android:icon="@mipmap/icon2024_app_icon"
        android:installLocation="auto"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppBaseTheme.Icon2024">
        <activity
            android:name="amai.org.conventions.SplashActivity" android:theme="@style/AppBaseTheme.Icon2024.Splash"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="amai.org.conventions.events.activities.HallActivity"></activity>
        <activity android:name="amai.org.conventions.events.activities.MyEventsActivity"></activity>
        <activity android:name="amai.org.conventions.events.activities.ProgrammeActivity"></activity>
        <activity android:name="amai.org.conventions.events.activities.ProgrammeSearchActivity"></activity>
        <activity android:name="amai.org.conventions.map.MapActivity"></activity>
        <activity
            android:name="amai.org.conventions.events.activities.EventActivity"
            android:theme="@style/AppBaseTheme.Icon2024.Event"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity android:name="amai.org.conventions.ArrivalMethodsActivity"></activity>
        <activity
            android:name="amai.org.conventions.FeedbackActivity"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity android:name="amai.org.conventions.updates.UpdatesActivity"></activity>
        <activity android:name="amai.org.conventions.settings.SettingsActivity"
            android:theme="@style/AppBaseTheme.Icon2024.Settings"></activity>
        <activity android:name="amai.org.conventions.DiscountsActivity"></activity>
        <activity android:name="amai.org.conventions.ActivitiesActivity"/>
        <activity android:name="amai.org.conventions.AboutActivity"></activity>
        <activity android:name="amai.org.conventions.HomeActivity" android:screenOrientation="portrait"
            android:theme="@style/AppBaseTheme.Icon2024.Home"/>
        <activity android:name="amai.org.conventions.secondhand.SecondHandActivity" />
        <activity android:name="amai.org.conventions.WebContentActivity$IconKidsActivity" />
        <activity android:name="amai.org.conventions.WebContentActivity$AccessibilityActivity" android:exported="true">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
                <!-- We must define the host so that we can handle other deep links correctly -->
                <data android:scheme="sff.org.conventions" android:host="web-content" />
            </intent-filter>
        </activity>
        <activity android:name="amai.org.conventions.auth.AuthorizationActivity" android:theme="@style/TransparentTheme.Icon2024"></activity>
        <activity
            android:name="net.openid.appauth.RedirectUriReceiverActivity"
            android:exported="true"
            tools:node="replace">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <!-- We must define the host so that we can handle other deep links correctly -->
                <data android:scheme="sff.org.conventions" android:host="oauth2redirect"/>
            </intent-filter>
        </activity>

        <receiver
            android:name="amai.org.conventions.notifications.ShowNotificationReceiver"
            android:exported="false" />
        <service
            android:name="amai.org.conventions.notifications.PushNotificationHandlingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- This receiver is invoked when we want to reschedule alarms -->
        <receiver android:name="amai.org.conventions.notifications.RescheduleAlarmsReceiver" android:exported="false">
            <intent-filter>
                <!-- Listen for the system broadcast sent when scheduling exact alarm permissions are granted.
                Note that there is no event when the permission is revoked. -->
                <action android:name="android.app.action.SCHEDULE_EXACT_ALARM_PERMISSION_STATE_CHANGED" />
                <!-- Listen for device reboot -->
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="google_analytics_adid_collection_enabled"
            android:value="false"/>

        <!-- Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/icon2024_notification_icon" />
    </application>

</manifest>